<h1>
    Start a conversation
</h1>
<form ng-controller="createTopic" role="form" novalidate name="createTopicForm" ng-submit="sendForm()">
    <div class="form-group" ng-class="{'has-error': (createTopicForm.title.$dirty || submitted) && createTopicForm.title.$invalid}">
        <label for="title">Title</label>
        <input class="form-control" type="text" required id="title" name="title" placeholder="Title" ng-model="topic.title" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="4" id="description" ng-model="topic.description"></textarea>
        <div class="comment-preview" ng-show="topic.description" ng-bind-html="topic.description | markdown"></div>
    </div>
    <div class="form-group">
        <label for="url">Link</label>
        <input class="form-control" type="url" id="title" placeholder="http://something-interesting.com" ng-model="topic.url" />
    </div>
    <div class="form-group" ng-form>
        <label for="tags">Tags</label>
        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" ng-model="newTag" id="tags" />
            </div>
            <button type="button" class="btn-link" ng-click="addTag()"><i class="glyphicon glyphicon-plus h2"></i></button>
        </div>
        <ul class="list-inline">
            <li ng-repeat="tag in topic.tags">
                <h4 class="btn btn-default" ng-click="removeTag($index)">{{tag}} &nbsp;<i class="glyphicon glyphicon-remove"></i></h4>
            </li>
        </ul>
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
</form>